{% extends "base.html" %}

{% block css %}
<style type="text/css">
  html { height: 100% }
  body { height: 100%; margin: 0px; padding: 0px }
  header {
  	z-index: 2;
  }
  #map-canvas { 
    height: 100%; 
    width: 100%; 
    padding: 0;
    }
    
	.page-map {
		width: 100%;
		height: 100%;
	}
</style>
{% endblock %}

{% block page_class %}page-map{% endblock %}

{% block main_content %}
  <div id="map-canvas" data-role="content" data-theme="b" data-fullscreen="true"></div>
{% endblock %}

{% block js %}

<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script src="{{ MEDIA_URL }}js/mylibs/jquery.ui.map.js"></script>

<script type="text/javascript">
	var racks = [];
	{% for rack in racks %}
	    
    racks[{{ forloop.counter0 }}] = [
    		{{ rack.id }},
    		"{{ rack.description }}",
    		new google.maps.LatLng({{ rack.lat }}, {{ rack.lng }}),
    ];
    	
    {% endfor %}

	$('#container').live("pageshow", function() {
		var iterator = 0;
		
		$('#map-canvas').gmap({'center': getLatLng(), 'zoom': 14, 'callback': 
			function (map) {
				if (navigator.geolocation) {
					watch = navigator.geolocation.watchPosition ( 
						function(position) { 
							// define the 'you are here' marker image
							var icon = new google.maps.MarkerImage('{{ MEDIA_URL }}/img/blue_dot_circle.png',
								new google.maps.Size(38, 38),
								new google.maps.Point(0, 0),
								new google.maps.Point(19, 19)
							);
							$('#map-canvas').gmap('addMarker', {
								'icon': icon,
								'bound': true, 
								'flat': true,
								'clickable': false,
								'position':new google.maps.LatLng(position.coords.latitude, position.coords.longitude) 
							}, function(map, marker) {
								map.panTo( marker.getPosition() );
							});
						}
					);
				}
			}
		}); 
		
		function getLatLng() {
			return new google.maps.LatLng(59.92268, 10.73866); // middle of Oslo
		}
		
		for (var i = 0, l = racks.length; i < l; i++) {
			
			$("#map-canvas").gmap('addMarker', {
				'id': racks[iterator][0],
				'title': racks[iterator][1],
				'position': racks[iterator][2],
			}, function(map, marker) {
				$(marker).click(function() {
					$.mobile.changePage("" + $(marker).attr("id"), "slideup");
				});
			});
		    
		    iterator++;
		}
	});
	
	$('#container').live("pagecreate", function() {
		var watch;
	});
	
	$('#container').live("pagehide", function() {
		if ( navigator.geolocation ) {
			navigator.geolocation.clearWatch(watch);
        }
	});


</script>
{% endblock %}